:root{
    --white:#FFFF;
    --black:#000;
    --transition:all .5s ease-in-out;
    --fontFamily1:'Roboto' , sans-serif ;
}

.landingPage
{
   width: 100%;
   height: 66vh;
   background-image: url(../../images/flightTest2.jpeg);
   background-size: cover;
   object-fit: cover;
   background-position: middle;
   z-index: -1;
}

.landingPage::after
{
    content: '';
    background-color: #000;
    width: 100%;
    height: 66vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 0;
}

.landingPage div{
    z-index: 1;
}

.landingPage .container
{
    position: relative;
    top: 170px;
}

.landingPage .container h3
{
    color: var(--white);
    font-size: 56px;
}
.landingPage .container h1
{
    color: var(--main-color1);
    font-size: 90px;
    font-weight: bold;
    font-family: var(--fontFamily1);
}


@media (max-width:756px)
{
    .landingPage .container h3,
    .landingPage .container h1
    {
        text-align: center !important;
    }
}

@media (max-width:554px)
{
    .landingPage .container h3
    {
        font-size: 40px;
        margin: 0 !important;
    }
    .landingPage .container h1
    {
        font-size: 70px;
        margin: 0 !important;
    }
}
@media (max-width:340px)
{
    .landingPage .container h3
    {
        font-size: 30px;
        margin: 0 !important;
    }
    .landingPage .container h1
    {
        font-size: 60px;
        margin: 0 !important;
    }
}
