
:root{
    --main-color2:#feebf3;
    --white:#FFFF;
    --black:#000;
    --transition:all .5s ease-in-out;
    --fontFamily1:'Roboto' , sans-serif ;
    --fontFamily2:'Merienda', cursive;
}


/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Aclonica', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Arima', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cookie', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Girassol', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Libre Bodoni', serif;
font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Mouse Memoirs', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Yusei Magic', sans-serif;

*/


.testimonials h3
{
    color: var(--main-color3);
}

.testimonials h1
{
    color: var(--main-color1);
    font-family: var(--fontFamily2);
    font-weight: bold;
}

/* .dots-not-active2:first-of-type
{
    width: 70px;
    height: 70px;
    background: url(../../images/clientsImgs/clientImg.jpeg);
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-right:20px !important;
    padding: 10px !important;
} */
.slick-dots li .dots-active-border .dots-not-active2
{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right:5px !important;
    /* padding: 10px !important;
    box-sizing: border-box !important; */
}
.slick-dots li:first-child .dots-active-border .dots-not-active2
{
    background: url(../../images/clientsImgs/clientImg.jpeg);
    background-size: cover;
    object-fit: cover;
}
.slick-dots li:nth-child(2) .dots-active-border .dots-not-active2
{
    background: url(../../images/clientsImgs/clientImg2.jpeg);
    background-size: cover;
    object-fit: cover;
}
.slick-dots li:nth-child(3) .dots-active-border .dots-not-active2
{
    background: url(../../images/clientsImgs/clientImg5.jpeg);
    background-size: cover;
    object-fit: cover;
}
.slick-dots li:nth-child(4) .dots-active-border .dots-not-active2
{
    background: url(../../images/clientsImgs/clientImg4.jpeg);
    background-size: cover;
    object-fit: cover;
}


.slick-active .dots-not-active2
{
    /* border: 4px solid var(--main-color1); */
    box-sizing: border-box;
    width: 67px !important;
    height: 67px !important;
    position: relative;
}

.slick-active .dots-not-active2::after
{
    content: '';
    border: 2px solid var(--main-color1);
    width: calc(100% + 12px) !important;
    height: calc(100% + 12px) !important;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -6px;
}

.testimonials .slick-dots
{
    top: calc(100% + 20px);
}

.testimonials .slick-dots li
{
    width: fit-content;
    height: fit-content;
}

.testimonials_content p:first-child
{
    font-size: 35px;
    font-family: var(--fontFamily1);
    font-weight: 500;
}

.testimonials_content p:nth-child(2)
{
    font-size: 20px;
    font-weight: 500;
}

.testimonials_content p:nth-child(3)
{
    color: var(--main-color1);
    font-weight: 400;
    position: relative;
    top: -8px;
}

.testemonials_Quote_ico
{
    color: var(--main-color1);
    font-size: 50px;
}


@media (max-width:450px)
{
    .testimonials_content p:first-child
    {
        font-size: 28px;
    }
    .testimonials_content p:nth-child(2)
    {
        font-size: 17px;
    }
    .testimonials_content p:nth-child(3)
    {
        font-size: 15px;
    }
}

@media (max-width:330px)
{
    .slick-dots li .dots-active-border .dots-not-active2
    {
        width: 57px;
        height: 57px;
    }
    .slick-active .dots-not-active2
    {
        width: 59px !important;
        height: 59px !important;
    }
}
